.subheader {
    background-image: url(/img/hero.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
}
.sub-content {
    position: absolute;
    top: 48%;
    color: $brand-color;
}