.copyright {
    color: white;
}
.copyright:hover {
    color: $brand-color;
}
.nav-link:hover {
    color: $brand-color;
}
.logo {
    max-width: 200px;
}
.nav-logo {
    max-width: 120px;
}
.brand-color {
    color: $brand-color !important;
}
.uppercase {
    text-transform: uppercase;
}
.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}