   
<footer class="footer p-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex justify-content-center flex-wrap">
            <div>Handcrafted with ❤️ by <a class="copyright" href="#">Gold Standard Sites</a>&nbsp</div>
            <div>Copyright © {{ dateFormat "2006" now }}</div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ $.Site.BaseURL }}js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    {{ $scripts := resources.Get "js/bootstrap.bundle.min.js" }}
    <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
</footer>